
@{
    // ref. https://wx.qq.com/
    ViewData["Title"] = "Waiting...";
}

<h2>@ViewData["Title"]</h2>

Use your weixin to scan to login:
<div id="qrcode-container"></div>
@ViewData["Qrcode"]

@section Scripts {
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-qrcode/jquery.qrcode.min.js"></script>
    <script type="text/javascript">
        $('#qrcode-container').qrcode(
            {
                text: "@Html.Raw(ViewData["Qrcode"])"
            });

        // set timeout
        var tid = setTimeout(checkStatus, 1000);
        var quitId = setTimeout(abortTimer, 300000);
        function checkStatus() {
            $.ajax({
                type: "GET",
                url: "@ViewData["IsAuthenticatedWithQrUrl"]",
                cache: false,
                timeout: 3000
            }).done(function (data) {
                if (data === true) {
                    window.location.href = "@ViewData["SignInWithQrUrl"]";
                }
                else {
                    // continue...
                }
            }).fail(function (jqXHR, textStatus) {
                if (textStatus === 'timeout') {
                    alert('Failed from timeout');
                } else {
                    alert(textStatus);
                }
            });
            tid = setTimeout(checkStatus, 1000);
        }
        function abortTimer() {
            clearTimeout(tid);
        }
    </script>
}


